{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block css_files %}
    <link rel="stylesheet" href="{% static 'pitches/pitch.css'%}">
    <link rel="stylesheet" href="{% static 'pitches/includes/header.css'%}">
{% endblock %}

{% block page_title %}
    {{pitch_type | title}}
{% endblock %}

{% block content %}
    {% include 'pitches/includes/header.html' %}
    <h1>{{text | title}} Grips/Vids/Tuts</h1>
    <h2>{{des | title}}</h2>
    <h3>Here's an example of the {{text | title}}
        <img src={{ex}}/>
    </h3>
    <h4>Download link for all grip/vid files of the {{text}}
    </h4>
    <h5><a href=""><center><button>Download File</button></center></a></h5>
{% endblock %}